    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">

          <!--<header></header> put these tags around header to add sandwitch lines -->
            <h1><strong><font size="5.6">&#12296&nbsp;physics&nbsp;&#124;&nbsp;machine&nbsp;learning&nbsp;&#12297;</font></strong></h1>
            <br />
            <p>
              A gathering place for
            <br />
              physicists exploring
            <br />
            machine learning.
            <br />
              Condensed matter.
            <br />
              Theoretical physics.
            <br />
              Quantum computing.
            <br />
              Artificial Intelligence.
            </p>
          <!--
          <p>
            This is <strong>Physics</strong><br />
          -->
          <footer> <!-- this seems to be just a vertical space -->
            <ul class="buttons vertical">
              <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
          </footer>

        </div>

      </section>