{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">

  <!-- One: NEWS  -->
  <header class="special container">
    <span class="icon far fa-newspaper"></span>
    <h2><strong>NEWS</strong></h2>
  </header>

<section class="wrapper style4 container special-alt">
    <div >
          <div class="content">
          
              {% for cat, arts in categories %}
              {% if cat|string() == "News"|string() %}
              {% for article in arts%}
              {% if loop.index < 4 %}

                <div class="newscontainer">
                    <div class="calender">
                      <i class="fas fa-bullhorn" style="font-size:18px;color:lightgrey;"></i>
                      <!--
                        <div class="date">
                            <div class="month"><strong>{{ article.date | strftime('%b') }}</strong></div>
                            <div class="day">{{ article.date | strftime('%d') }}</div>
                        </div> 
                      -->
                    </div>
                   <div class="newsteaser">
                      <header>
                          <a href="{{ SITEURL }}/{{ article.url }}"><h3>{{ article.title }}</h3></a>
                      </header>
                      <p>{{ article.summary|striptags }}</p>
                   </div>
                </div>

            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <br />
        <br />
        <div class="row ">
          <div class="4u pagination-right">
            <section>
                <header>
                    <a href="{{ SITEURL }}/category/news.html">Older posts&nbsp;&rarr;</a>
                </header>
            </section>
          </div>
        </div>
</section>


<!-- NEWS DISPLAY ALTERNATIVE 2
<section class="wrapper style1 container special-alt">
    <header>
        <h2><strong>News</strong></h2>
    </header>
    <div class="8u">
            <div class="content">
            {% for article in articles %}
              {% if article.category|string() == "News"|string() %}
                <div class="newscontainer">
                    <div class="calender">
                            {{ article.date | strftime('%d %b') }}
                    </div>
                   <div class="newsteaser">
                      <header>
                          <a href="{{ SITEURL }}/{{ article.url }}"><h3>{{ article.title }}</h3></a>
                      </header>
                      <p>{{ article.summary |striptags }}</p>
                   </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
</section>
-->

<!-- NEWS DISPLAY ALTERNATIVE 3
  <section class="wrapper style2 container special-alt">
    <header>
        <h2><strong>News</strong></h2>
    </header>
    <div class="8u">
            <div class="content">
            {% for article in articles %}
              {% if article.category|string() == "News"|string() %}
                <section>
                    <header>
                        <a href="{{ SITEURL }}/{{ article.url }}"><h3>{{ article.title }}</h3></a>
                    </header>
                    <p style="text-align: right;">{{ article.date | strftime('%d %B %Y') }}</p>
                    <p>{{ article.summary |striptags }}</p>
                </section>
                {% endif %}
            {% endfor %}
            </div>
        </div>
</section>
-->


  <!-- Two: BLOG ARTICLES -->
  <header class="special container">
    <span class="icon fas fa-file-alt"></span>
    <h2>BLOG ARTICLES</h2>
  </header>

  <section class="wrapper style1 container special">
    <div class="row">

        {% for cat, arts in categories %}
        {% if cat|string() == "Articles"|string() %}
        {% for article in arts %}
        {% if loop.index < 4 %}

          <div class="4u">
            <section>
              <span class="icon feature fa-{{ article.icon }}"></span>
              <header>
                <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'><h3>{{ article.title }}</h3></a>
              </header>
              <p>{{ article.content |truncate(length=196, killwords=False, end='...') |striptags }}</p>
              <footer>
                <ul class="buttons">
                  <li><a href="{{ SITEURL }}/{{ article.url }}" class="button small">Read More</a></li>
                </ul>
              </footer>
            </section>
          </div>
       
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div> <!-- /.row -->


    <div class="row ">
        <div class="4u pagination-right">
            <section>
                <header>
                    <a href="{{ SITEURL }}/category/articles.html">Older posts&nbsp;&rarr;</a>
                </header>
            </section>
        </div>
    </div>

    <!-- {% include 'pagination.html' %} -->

  </section> <!-- /section -->



  <!-- Three: ABOUT  -->
  <section class="wrapper style2 container special-alt">
    <div class="row half">
      <div class="8u">
        <header>
            <h2><strong>WHO WE ARE</strong></h2>
        </header>
        <p>Meet the team of physicists contributing to this blog, working at the intersection of machine learning and quantum physics, across three institutes:<br />
        <a class="special" href="https://www.perimeterinstitute.ca">Perimeter Institute:</a> leading research, training and outreach in foundational theoretical physics. The <a class="special" href="https://www.simonsfoundation.org/flatiron/">Flatiron Institute:</a> advancing scientific research through computational methods. <a class="special" href="http://vectorinstitute.ai">Vector Institute:</a> driving excellence and leadership in knowledge, creation, and use of artificial intelligence.
        </p>
        <p>
        These are the papers that we are reading, and the ideas that we are talking about.
        </p>
      <!-- BUTTON FOR LATER
        <footer>
          <ul class="buttons">
            <li><a href="#" class="button">Find out more</a></li>
          </ul>
        </footer>
      -->

      </div>
      <div class="4u skel-cell-important"> <!-- PHOTOS -->
        <ul class="thumbnail-photos">
          <div class="crop"><a href="https://www.perimeterinstitute.ca/people/roger-melko"><img src="images/roger.jpg" alt="Roger Melko" /></a></div>
          <div class="crop"><a href="https://www.simonsfoundation.org/team/miles-stoudenmire-2/"><img src="images/miles.jpg" alt="Miles Stoudenmire" /></a></div>
          <div class="crop"><a href="http://newborg.uwaterloo.ca/~rgmelko/People/Anna/Anna.html"><img src="images/anna.jpg" alt="Anna Go" /></a></div>
          <div class="crop"><a href="http://newborg.uwaterloo.ca/~rgmelko/People/Matt/Matt.html"><img src="images/matt.png" alt="Matt Beach" /></a></div>
        </ul>
      </div>
    </div>
  </section>


</article>

{% endblock content %}